  .d-nav span {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .f-nav {
    text-transform: capitalize; 
  }
  
  .f-nav .char {
    text-transform: none; 
  }


  .c-h-img{
    pointer-events: none;
  }



  *{
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
  }
  
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
  
  html,
  body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }


  .w-embed {
    line-height: 0;
 }






 :root {
  --vw: 0.01vw; /* 1% of the viewport width */
}

.h-xxl {
  font-size: calc(96 / 1728 * 100 * var(--vw)); /* 96px at 1728px */
}

.h-xl {
  font-size: calc(56 / 1728 * 100 * var(--vw)); /* 56px at 1728px */
}

.h-xl.team{
  font-size: calc(40 / 1728 * 100 * var(--vw)); /* 56px at 1728px */
}

.h-l {
  font-size: calc(20 / 1728 * 100 * var(--vw)); /* 20px at 1728px */
}

.body-m {
  font-size: calc(24 / 1728 * 100 * var(--vw)); /* 24px at 1728px */
}

.body-m.team {
  font-size: calc(24 / 1728 * 100 * var(--vw)); /* 24px at 1728px */
}

.body-s {
  font-size: calc(16 / 1728 * 100 * var(--vw)); /* 16px at 1728px */
}

.body-s.team{
  font-size: calc(14 / 1728 * 100 * var(--vw)); /* 16px at 1728px */
}


.caption-n {
  font-size: calc(13 / 1728 * 100 * var(--vw)); /* 13px at 1728px */
}

.caption-w {
  font-size: calc(13 / 1728 * 100 * var(--vw)); /* 13px at 1728px */
}

.caption-w.launchdpad {
  font-size: calc(13 / 1728 * 100 * var(--vw)); /* 13px at 1728px */
}

.d-cta {
  font-size: calc(12 / 1728 * 100 * var(--vw)); /* 12px at 1728px */
}

.d-nav {
  font-size: calc(13 / 1728 * 100 * var(--vw)); /* 13px at 1728px */
}

.f-nav {
  font-size: calc(16 / 1728 * 100 * var(--vw)); /* 16px at 1728px */
}


[data-a="hero-txt"] {
  overflow: hidden;
}

[data-a="hero-txt"] .word {
  display: inline-block;
}

[data-a="hero-txt"] .line {
  display: block;
}



/* Tablet Sizes */

@media (max-width: 992px) {
  :root {
      --sm-vw: 0.0101vw; 
  }

  .h-xxl {
      font-size: calc(64 / 992 * 100 * var(--sm-vw));
  }
/* 
  .h-xl {
    font-size: calc(34 / 992 * 100 * var(--sm-vw)); 
  } */


  .h-xl.portfolio-text {
    font-size: calc(28 / 992 * 100 * var(--sm-vw)) !important;
}

  .h-xl.opacity-reduce.about {
    font-size: calc(32 / 992 * 100 * var(--sm-vw)); 
  }

  .h-l {
      font-size: calc(14 / 992 * 100 * var(--sm-vw)); 
  }



  .h-l.innovator-t {
    font-size: calc(18 / 992 * 100 * var(--sm-vw)) !important; 
}



  .body-m {
      font-size: calc(18 / 992 * 100 * var(--sm-vw)); 
  }

  .body-s {
      font-size: calc(12 / 992 * 100 * var(--sm-vw));
  }


  .body-s.team {
    font-size: calc(14 / 992 * 100 * var(--sm-vw)) !important;
}


  .caption-n {
      font-size: calc(10 / 992 * 100 * var(--sm-vw)); 
  }

  .caption-w {
      font-size: calc(10 / 992 * 100 * var(--sm-vw)); 
  }

  .caption-w.launchpad {
    font-size: calc(8 / 992 * 100 * var(--sm-vw)) !important; 
}

  .d-cta {
      font-size: calc(12 / 992 * 100 * var(--sm-vw)); 
  }

  .body-s.launchdpad {
    font-size: calc(12 / 992 * 100 * var(--sm-vw)) !important; 
  }

  .d-nav {
      font-size: calc(10 / 992 * 100 * var(--sm-vw)); 
  }

  .g-button {
    width: calc(220 / 992 * 100 * var(--sm-vw));
    height: calc(40 / 992 * 100 * var(--sm-vw));
  }

  .f-nav {
      font-size: calc(14 / 992 * 100 * var(--sm-vw)); 
  }

  .f-label {
    font-size: calc(12 / 992 * 100 * var(--sm-vw)); 
  }

  .c-label {
    font-size: calc(12 / 992 * 100 * var(--sm-vw)); 
  }

  .h-xl.portfolio-text {
    font-size: calc(16 / 992 * 100 * var(--sm-vw)); 
  }

  .c-t-field {
    width: calc(208 / 992 * 100 * var(--sm-vw));
    height: calc(44 / 992 * 100 * var(--sm-vw));
    font-size: calc(11 / 992 * 100 * var(--sm-vw));
  }

  .c-t-field.email {
    width: calc(420 / 992 * 100 * var(--sm-vw));
    height: calc(44 / 992 * 100 * var(--sm-vw));
  }

  .c-t-field.message {
    width: calc(420 / 992 * 100 * var(--sm-vw));
    height: calc(137 / 992 * 100 * var(--sm-vw));
    padding-bottom: calc(92 / 992 * 100 * var(--sm-vw));
  }

  .g-button.form {
    width: calc(106 / 992 * 100 * var(--sm-vw));
    height: calc(30 / 992 * 100 * var(--sm-vw));
  }

  .g-a-wrap {
    width: calc(22 / 992 * 100 * var(--sm-vw));
    height: calc(22 / 992 * 100 * var(--sm-vw));
  }

  .g-a-wrap.form {
    width: calc(22 / 992 * 100 * var(--sm-vw));
    height: calc(22 / 992 * 100 * var(--sm-vw));
  }
}



/* Large Mobile Sizes */
@media (max-width: 767px) {
  :root {
      --lg-mvw: 0.0130vw; /* 1% of 767px is approximately 0.0130vw */
  }

  .h-xxl {
      font-size: calc(64 / 767 * 100 * var(--lg-mvw)); /* 64px at 767px */
  }

  .h-xl {
    font-size: calc(32 / 767 * 100 * var(--lg-mvw)); 
  }


  .h-xl.opacity-reduce.about {
    font-size: calc(26 / 767 * 100 * var(--lg-mvw)); /* 16px at 767px */
  }

  .h-l {
      font-size: calc(14 / 767 * 100 * var(--lg-mvw)); /* 14px at 767px */
  }

  .h-l.innovator-t {
    font-size: calc(16 / 767 * 100 * var(--lg-mvw)) !important;
}



  .body-m {
      font-size: calc(16 / 767 * 100 * var(--lg-mvw)); /* 16px at 767px */
  }

  .body-m.team {
    font-size: calc(12 / 767 * 100 * var(--lg-mvw)); /* 16px at 767px */
}

  .body-s {
      font-size: calc(12 / 767 * 100 * var(--lg-mvw)); /* 12px at 767px */
  }


  .body-s.team {
    font-size: calc(18/ 767 * 100 * var(--lg-mvw)) !important; 
}



  .caption-n {
      font-size: calc(11 / 767 * 100 * var(--lg-mvw)); /* 11px at 767px */
  }

  .caption-w {
      font-size: calc(10 / 767 * 100 * var(--lg-mvw)); /* 9px at 767px */
  }

  .d-cta {
      font-size: calc(12 / 767 * 100 * var(--lg-mvw)); /* 12px at 767px */
  }

  .body-s.launchdpad {
    font-size: calc(10 / 767 * 100 * var(--lg-mvw)); /* 10px at 767px */
  }

  .d-nav {
      font-size: calc(10 / 767 * 100 * var(--lg-mvw)); /* 15px at 767px */
  }

  .f-nav {
      font-size: calc(12 / 767 * 100 * var(--lg-mvw)); /* 12px at 767px */
  }

  .f-label {
    font-size: calc(11 / 767 * 100 * var(--lg-mvw)); /* 11px at 767px */
  }

  .c-label {
    font-size: calc(12 / 767 * 100 * var(--lg-mvw)); /* 12px at 767px */
  }

  .h-xl.portfolio-text {
    font-size: calc(16 / 767 * 100 * var(--lg-mvw)); /* 16px at 767px */
  }

  .logo-wrap {
    width: calc(137 / 767 * 100 * var(--lg-mvw));
  }

  .about-div.max-w-small{
    max-width: 42% !important;
  }

  .g-button {
    width: calc(180 / 767 * 100 * var(--lg-mvw));
    height: calc(40 / 767 * 100 * var(--lg-mvw));
  }

  .g-a-wrap {
    width: calc(24 / 767 * 100 * var(--lg-mvw));
    height: calc(24 / 767 * 100 * var(--lg-mvw));
  }

  .c-t-field {
    width: calc(208 / 767 * 100 * var(--lg-mvw));
    height: calc(44 / 767 * 100 * var(--lg-mvw));
    font-size: calc(11 / 767 * 100 * var(--lg-mvw));
  }

  .c-t-field.email {
    width: calc(420 / 767 * 100 * var(--lg-mvw));
    height: calc(44 / 767 * 100 * var(--lg-mvw));
  }

  .c-t-field.message {
    width: calc(420 / 767 * 100 * var(--lg-mvw));
    height: calc(137 / 767 * 100 * var(--lg-mvw));
    padding-bottom: calc(92 / 767 * 100 * var(--lg-mvw));
  }

  .g-button.form {
    width: calc(112 / 767 * 100 * var(--lg-mvw));
    height: calc(30 / 767 * 100 * var(--lg-mvw));
  }

  .g-a-wrap.form {
    width: calc(12 / 767 * 100 * var(--lg-mvw));
    height: calc(12 / 767 * 100 * var(--lg-mvw));
  }

  .g-a-wrap.rotate-form {
    width: calc(20 / 767 * 100 * var(--lg-mvw)) !important;
    height: calc(20 / 767 * 100 * var(--lg-mvw))!important;
  }

  .h-l-wrap.max-logo-w {
    width: calc(254 / 767 * 100 * var(--lg-mvw));
    height: calc(22 / 767 * 100 * var(--lg-mvw));
    max-width: calc(254 / 767 * 100 * var(--lg-mvw));
  }
}



/*Mobile Sizes */

@media (max-width: 479px) {
  :root {
      --mvw: 0.0209vw; /* 1% of 479px is approximately 0.0209vw */
  }


  .h-xxl {
      font-size: calc(64 / 479 * 100 * var(--mvw)); /* 64px at 479px */
  }

  .h-xl {
      font-size: calc(32 / 479 * 100 * var(--mvw)); /* 32px at 479px */
  }


  .h-xl.team {
    font-size: calc(20 / 479 * 100 * var(--mvw)) !important;
}

  .h-xl.opacity-reduce.about {
    font-size: calc(16 / 479 * 100 * var(--mvw)); /* 32px at 479px */
}

  .h-l {
      font-size: calc(14 / 479 * 100 * var(--mvw)); /* 14px at 479px */
  }

  .h-l.innovator-t {
    font-size: calc(20 / 479 * 100 * var(--mvw)) !important; 
}

  .body-m {
      font-size: calc(16 / 479 * 100 * var(--mvw)); /* 16px at 479px */
  }

  .body-s {
      font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }


  .caption-n {
      font-size: calc(11 / 479 * 100 * var(--mvw)); /* 11px at 479px */
  }

  .caption-w {
      font-size: calc(9 / 479 * 100 * var(--mvw)); /* 9px at 479px */
  }

  .caption-w.launchdpad {
    font-size: calc(10 / 479 * 100 * var(--mvw));
}

  .d-cta {
      font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .body-s.launchdpad {
    font-size: calc(16 / 479 * 100 * var(--mvw)) !important; 
}

  .d-nav {
      font-size: calc(15 / 479 * 100 * var(--mvw)); /* 15px at 479px */
  }

  .f-nav {
      font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .f-label{
    font-size: calc(11 / 479 * 100 * var(--mvw)); /* 11px at 479px */
  }

  .c-label{
    font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .h-xl.portfolio-text{
    font-size: calc(16 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }
  
  .logo-wrap{
    width: calc(137 / 479 * 100 * var(--mvw));
  }

  .g-button{
    width: calc(220 / 479 * 100 * var(--mvw));
    height: calc(40 / 479 * 100 * var(--mvw));
  }

  .g-a-wrap{
    width: calc(24 / 479 * 100 * var(--mvw));
    height: calc(24 / 479 * 100 * var(--mvw));
  }

  .g-a-wrap.rotate-form{
    width: calc(20 / 479 * 100 * var(--mvw)) !important;
    height: calc(20 / 479 * 100 * var(--mvw)) !important;
  }

  .about-div.max-w-small{
    max-width: 82% !important;
  }


  .c-t-field{
    width: calc(208 / 479 * 100 * var(--mvw));
    height: calc(44 / 479 * 100 * var(--mvw));
    font-size: calc(11 / 479 * 100 * var(--mvw));
  }

  .c-t-field.email{
    width: calc(420 / 479 * 100 * var(--mvw));
    height: calc(44 / 479 * 100 * var(--mvw));
  }

  .c-t-field.message{
    width: calc(420 / 479 * 100 * var(--mvw));
    height: calc(137 / 479 * 100 * var(--mvw));
    padding-bottom: calc(92 / 479 * 100 * var(--mvw));
  }

  .g-button.form{
    width: calc(106 / 479 * 100 * var(--mvw));
    height: calc(30 / 479 * 100 * var(--mvw));
  }

  .g-a-wrap.form{
    width: calc(22 / 479 * 100 * var(--mvw));
    height: calc(22 / 479 * 100 * var(--mvw));
  }

  .h-l-wrap.max-logo-w{
    width: calc(254 / 479 * 100 * var(--mvw));
    height: calc(22 / 479 * 100 * var(--mvw));
    max-width: calc(254 / 479 * 100 * var(--mvw));
  }


}



/*Mobile Sizes End */


.body-s.launchdpad {
  position: relative; 
}

.split-line {
  position: absolute;
  left: 0;
  width: 100%;
}


/* Base Styles */
.swiper.hero-launchdpad {
  overflow: hidden;
  /* cursor: grab; */
  display: flex;
  align-items: center;
  padding: 0 0 5vw;
}



.swiper-wrapper.hero-launchdpad {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.swiper-slide.hero-launchdpad {
  flex: 0 0 auto; 
  margin-right: 1vw; 
}

/* Ensure .c-h-wrap Defines Slide Size */
.c-h-wrap {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: '25vw'; 
  height: '19vw'; 
}

.swiper-wrapper.hero-launchdpad {
  transform: translateX(calc(-50% + 50vw)); 
}

[data-a="rounded"]{
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 10;
}

[data-a="rounded-l"]{
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 34;
}

[data-a="rounded-m"]{
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 24;
}




