  .d-nav span {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  }
  .f-nav {
    text-transform: capitalize; 
  }
  
  .f-nav .char {
    text-transform: none; 
  }


  .c-h-img{
    pointer-events: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
  
  html,
  body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }



  :root {
    --vw: 0.01vw;
}

.h-xxl {
    font-size: calc(var(--vw) * 5.56); /* 96px / 1728px */
}

.h-xl {
    font-size: calc(var(--vw) * 3.24); /* 56px / 1728px */
}

.h-l {
    font-size: calc(var(--vw) * 1.16); /* 20px / 1728px */
}

.body-m {
    font-size: calc(var(--vw) * 1.39); /* 24px / 1728px */
}

.body-s {
    font-size: calc(var(--vw) * 0.93); /* 16px / 1728px */
}

.caption-n {
    font-size: calc(var(--vw) * 0.75); /* 13px / 1728px */
}

.caption-w {
    font-size: calc(var(--vw) * 0.75); /* 13px / 1728px */
}

.d-cta {
    font-size: calc(var(--vw) * 0.69); /* 12px / 1728px */
}

.d-nav {
    font-size: calc(var(--vw) * 0.75); /* 13px / 1728px */
}

.f-nav {
    font-size: calc(var(--vw) * 0.93); /* 16px / 1728px */
}




/*Mobile Sizes */

@media (max-width: 479px) {
  :root {
      --mvw: 0.0209vw; /* 1% of 479px is approximately 0.0209vw */
  }


  .h-xxl {
      font-size: calc(64 / 479 * 100 * var(--mvw)); /* 64px at 479px */
  }

  .h-xl {
      font-size: calc(32 / 479 * 100 * var(--mvw)); /* 32px at 479px */
  }

  .h-xl.opacity-reduce.about {
    font-size: calc(16 / 479 * 100 * var(--mvw)); /* 32px at 479px */
}

  .h-l {
      font-size: calc(14 / 479 * 100 * var(--mvw)); /* 14px at 479px */
  }

  .body-m {
      font-size: calc(16 / 479 * 100 * var(--mvw)); /* 16px at 479px */
  }

  .body-s {
      font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .caption-n {
      font-size: calc(11 / 479 * 100 * var(--mvw)); /* 11px at 479px */
  }

  .caption-w {
      font-size: calc(9 / 479 * 100 * var(--mvw)); /* 9px at 479px */
  }

  .d-cta {
      font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .body-s.launchdpad {
    font-size: calc(10 / 479 * 100 * var(--mvw)); /* 12px at 479px */
}

  .d-nav {
      font-size: calc(15 / 479 * 100 * var(--mvw)); /* 15px at 479px */
  }

  .f-nav {
      font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .f-label{
    font-size: calc(11 / 479 * 100 * var(--mvw)); /* 11px at 479px */
  }

  .c-label{
    font-size: calc(12 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }

  .h-xl.portfolio-text{
    font-size: calc(16 / 479 * 100 * var(--mvw)); /* 12px at 479px */
  }
  
  .logo-wrap{
    width: calc(137 / 479 * 100 * var(--mvw));
  }

  .g-button{
    width: calc(220 / 479 * 100 * var(--mvw));
    height: calc(40 / 479 * 100 * var(--mvw));
  }

  .g-a-wrap{
    width: calc(24 / 479 * 100 * var(--mvw));
    height: calc(24 / 479 * 100 * var(--mvw));
  }


  .c-t-field{
    width: calc(208 / 479 * 100 * var(--mvw));
    height: calc(44 / 479 * 100 * var(--mvw));
    font-size: calc(11 / 479 * 100 * var(--mvw));
  }

  .c-t-field.email{
    width: calc(420 / 479 * 100 * var(--mvw));
    height: calc(44 / 479 * 100 * var(--mvw));
  }

  .c-t-field.message{
    width: calc(420 / 479 * 100 * var(--mvw));
    height: calc(137 / 479 * 100 * var(--mvw));
    padding-bottom: calc(92 / 479 * 100 * var(--mvw));
  }

  .g-button.form{
    width: calc(106 / 479 * 100 * var(--mvw));
    height: calc(30 / 479 * 100 * var(--mvw));
  }

  .g-a-wrap.form{
    width: calc(22 / 479 * 100 * var(--mvw));
    height: calc(22 / 479 * 100 * var(--mvw));
  }

  .h-l-wrap.max-logo-w{
    width: calc(254 / 479 * 100 * var(--mvw));
    height: calc(22 / 479 * 100 * var(--mvw));
    max-width: calc(254 / 479 * 100 * var(--mvw));
  }


}



/*Mobile Sizes End */


.body-s.launchdpad {
  position: relative; /* For absolute positioning context */
}

.split-line {
  position: absolute;
  left: 0;
  width: 100%;
}


/* Base Styles */
.swiper.hero-launchdpad {
  overflow: hidden;
  /* cursor: grab; */
  display: flex;
  align-items: center;
  padding: 0 0 5vw;
}



.swiper-wrapper.hero-launchdpad {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.swiper-slide.hero-launchdpad {
  flex: 0 0 auto; 
  margin-right: 1vw; 
}

/* Ensure .c-h-wrap Defines Slide Size */
.c-h-wrap {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: '25vw'; 
  height: '19vw'; 
}

.swiper-wrapper.hero-launchdpad {
  transform: translateX(calc(-50% + 50vw)); 
}

[data-a="rounded"]{
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 10;
}

[data-a="rounded-l"]{
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 34;
}

[data-a="rounded-m"]{
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 24;
}




